h1{
    font-family: "Playfair Display", sans-serif;

    text-align: center;
    font-size: 68px;
    color:#002B5B;
}
label{
    font-family: "Playfair Display", sans-serif;

    color: #002B5B;

  
    font-size: 16px;

}

#Tabela{
    background-color: none;
    /* background-image: url("Foto/map.png");
    background-size: cover;
    background-repeat: no-repeat; */

}
#Tabela table{
    
    background-image: url("Foto/map.png");
    background-size: cover;
    background-repeat: no-repeat; 

}
.book-button{
    background-color: #002B5B;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 40px;
    width: 250px;
    height: 45px;
    position: relative; 
    bottom: 8px; 
    left: 20px;
    transition: background-color .5s ease;
}
.book-button:hover{
background-color: #EA5455;
}
.book-button p{
    position: relative;
    top: 10px;
}



