/* Main Screen */
body{
   margin: 0px;
}
/* Quote screen */
.picture-box{
   position: relative;
   bottom: 120px;
   margin: 0;
   background-image: url(Foto/b5530da5-f592-48cc-b555-39865e9696fb.jpg);
   background-size: cover;
   height: 950px;
}
.sub-title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #F9F5EB;
    text-shadow: black 5px 5px 6px;
    font-weight: 700;
    font-size: 20px;
    z-index: 5;
    position: absolute;
    bottom: 550px;;
    left: 580px;
    text-align: center;
    z-index: 5;
}
.title{
     font-family: 'Playfair Display', sans-serif;
     color: #F9F5EB;
     text-shadow: black 5px 5px 6px;
     font-size: 70px;
     text-align: center;
     position: absolute;
     bottom: 305px;
     left: 420px;
}

/* Showcase */ 

.properties-title{
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 60px;
}
.prop-description{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 50px;
}
.carousel_link{
    flex: 1;
    text-align: center;
    text-decoration: none;
}
.second-box-item{
    height: 600px;
    transition: height .5s ease;
}
.second-box-item:hover{
    height: 620px;
}
.card-bg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.bigtext{
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
    position: relative;
    bottom: 350px;
    color: white;
    text-shadow: black 5px 5px 6px;
}
.smalltext{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: white;
    position: relative;
    bottom: 360px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: black 5px 5px 6px;
} 
