.navigation-bar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    height: 70px;
    z-index: 2000;
}
.logo{
    position: relative;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    color: #002B5B;
    font-size: 40px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
}
.logo:hover{
    color: #EA5455;
    transition: color .5s ease;
}
.navbar-button{
    text-decoration: none;
    color: #002B5B;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    position: relative;
    left: 400px;
    margin-right: 70px;
    display: inline;
    cursor: pointer;
}
.navbar-button:hover{
    color: #EA5455;
    transition: color .5s ease;
}
.navbar-button:active{
    color: #EA5455;
    text-decoration: underline;
}
.b2{
    position: relative;
    left: 270px;
}
.dropdown{
    position: relative;
    z-index: 100;
    display: inline-block;
}
.dropdown-menu{
    display: none;
    position: absolute;
    top: 20px;
    left: 335px;
    background-color: #F9F5EB;
    min-width: 230px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    border: 0.5px #002B5B solid;
    z-index: 100;
}
.dropdown-option{
    display: block;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #002B5B ;
    padding: 10px;
    border-bottom: 0.5px #002B5B solid;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu a:hover{
    background-color: #EA5455;
    color: #F9F5EB;
    transition: background-color .5s ease;
}
.blue{
    background-color: #002B5B;
    border-radius: 40px;
    width: 150px;
    height: 45px;
    position: relative; 
    bottom: 8px; 
    left: 30px;
    transition: background-color .5s ease;
}
.blue:hover{
    background-color: #EA5455;
}
.blue:active{
    background-color: #002B5B;
}
.blue p{
    color: #F9F5EB;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-align: center;
    position: relative; 
    top: 12.5px;
}
.b3{
    position: relative;
    left: 120px;
}
.navbar-link{
    text-decoration: none;
}