
body{
    margin:auto;
}
.kartolina{

    width:15rem;
    margin-top: 5rem;
    text-decoration: none;
}
.Kufizuesfoto{
    border-radius: 40px;
}


#Titulli{
    margin-top: 2rem;
    font-family: "Playfair Display", sans-serif;

    text-align: center;
    font-size: 68px;
    color: #002B5B;
}
#Titulli b{
    transition: color .5s;
    transition-timing-function: ease-in-out;
}
#Titulli:hover b{
    color: #EA5455;
}

.card-body p,.card-body h5{
    color: #002B5B !important;
     }
