body{
background-color: #f9f5eb;
}
h1{
    font-family: "Playfair Display", sans-serif;
    margin-left: 30px;
    text-align: left;
    font-size: 65px;
    color:#002B5B;
}
label{
    font-family: "Playfair Display", sans-serif;

    color: #002B5B;

  
    font-size: 20px;

}

#aaa{
    font-family: "Playfair Display", sans-serif;
    text-decoration: none;
    color: #5b005b;

  
    font-size: 20px;


}


#Tabela{
    text-align: center;
    height:250px;
    
}
.tabela{
    table-layout: fixed;
    border-radius: 10px;
  }

.th1{
    color: #002B5B;    
    text-align: center; font-size: 45px;
    margin-bottom: 30px;
}
.td1{
    border-spacing: 2px;
    border-color:#002B5B;
    border-width: 1px;
    margin:10px;
    border-style: solid;
  
    border-top: none;
    border-bottom: none;
    border-spacing: 60px;

    border-radius: 10px;

    background-color:#f9f5eb; 
    color: #002B5B;
    padding-top: 5px;
   padding-bottom: 10px;
   padding-left: 5px;
    padding-right: 5px
}
mark{
    background-color: rgba(231, 161, 10, 0.216);
   padding: px;

}



#Hyrje{



    height:350px

}
#backphoto{
  
    position: relative;
    height: 100vh;
    background-image: url(Foto/42554.jpg);
    
}

.paragraph{
    margin-left: 30px;
    font-size: 25px;
    font-family: "Playfair Display", sans-serif;

}

.StartL{
    width: 200px;
    background-color:  #EA5455;
    border-radius: 60px;
    float: right;
    margin-right: 90px;
    height: 67px;
    position: relative; 
    bottom: 12px; 
    padding-top: 1vh;
    transition: background-color .5s ease;
    margin-left: 700px;
    
}

.StartL:hover{
    background-color: #002B5B;
}
.StartL:active{
    background-color: #EA5455;
}


.choseThePhoto{

    height: 178px;
    width: 100%;
    border-width: 1px;
    border-color:black;
    position: relative; 
    border-style:solid;
    text-align: center;
    align-items: center;

    color: var(--bs-body-color);
   
    padding-top: 8px;

    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
  
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.choseTheVideo{
    margin-top: 38px;
     height: 160px;
     width: 100%;
     border-width: 1px;
     border-color:black;
     position: relative; 
     border-style:solid;
     text-align: center;
     align-items: center;
 
     color: var(--bs-body-color);
    
     padding-top: 8px;
 
     display: block;
     width: 100%;
     padding: 0.375rem 0.75rem;
     font-size: 20px;
     font-weight: 400;
     line-height: 1.5;
     color: var(--bs-body-color);
   
     appearance: none;
     background-color: var(--bs-body-bg);
     background-clip: padding-box;
     border: var(--bs-border-width) solid var(--bs-border-color);
     border-radius: var(--bs-border-radius);
     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 
 }
 
 .choseThePhoto:hover{
    border-color:#002B5B;
    border-width: 3px;
    font-size: 23px;
    transition: font-size .5s ease;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
 }
 .choseTheVideo:hover{
    border-color:#002B5B;
    border-width: 3px;
    font-size: 23px;
    transition: font-size .5s ease;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }

.square{
   
     border: none;
    background-color:#F9F5EB;
    color:  #002B5B;
    padding: 10px;
    border-radius: 15px;
    margin-top: 18vh;
    font-family: 'Playfair Display', sans-serif;
    margin-left:200px;
    margin-right:200px;
    box-shadow: 15px 15px rgba(264, 164, 20, 0.126);
    
}
h2{
    font-family: "Playfair Display", sans-serif;
    margin-left: 30px;
    text-align: center;
    font-size: 50px;
    color:#002B5B;
}
dd{
    margin-left: 20px;
    line-height: 10px;
    font-size: 15px;
}
ol, ul, li{
   
    line-height: 20px;
    font-size: 15px;
}
.disc{
    list-style-type: disc;
}
.cicle{
    list-style-type: circle;
}
.squaree{
    list-style-type: square;
}
.none{
    list-style-type: none;
}



.table2 {
    border-width: 1px;
    border-radius: 5px;
    position: relative;
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
   
 }


table.table2 td {
    
    border: 1px solid;
   
    margin: 0px;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: #F9F5EB;

 }
 table.table2 th{
    background-color: #002B5B;
    color: white;
    padding-left: 5px;
 }
 .tdcenter{
   text-align: center;
 }
 canvas{
    margin-left: 22%;
    margin-right: 25%;
    width: 50%;
    height: 4rem;
 }

 .classinput{
    
   
    width: 100%;
    background-color: white;
    border-width: 3px;
    border-color:#f9f5eb;
    position: relative; 
    border-style:solid;
    color: #002B5B;
   
    padding-top: 8px;

    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

  
    background-clip: padding-box;

    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
input[placeholder]{
  
    font-size: 18px;
    text-align: left;

}
.classinput:hover{
    background-color: rgb(244, 245, 239);
    

}
.Rentify{
    width: 200px;
    background-color:  #002B5B;
    border-radius: 60px;
    float: right;
    margin-left: 2vh;
    margin-right: 13vh;
    margin-top: 5vh;
    margin-bottom: 15vh;
    height: 60px;
    position: relative; 
    bottom: 12px; 
    padding-top: 1vh;
    transition: background-color .5s ease;
    color:white;
    margin-top: 8vh;
}

.Rentify:hover{
    background-color: #EA5455;
}
.Rentify:active{
    background-color: #002B5B;
}

.Rentify[disabled]{
    background-color: #425162;
    color: rgb(181, 180, 180);

}