body{
background-color: #f9f5eb;
}
h1{
    font-family: "Playfair Display", sans-serif;
    margin-left: 30px;
    text-align: left;
    font-size: 65px;
    color:#002B5B;
}
label{
    font-family: "Playfair Display", sans-serif;

    color: #002B5B;

  
    font-size: 20px;

}

#aaa{
    font-family: "Playfair Display", sans-serif;
    text-decoration: none;
    color: #5b005b;

  
    font-size: 20px;


}

#Tabela{
    text-align: center;
    height:250px;
    
}
table {
   
    border-radius: 10px;
  }

th{
    color: #002B5B;    
}
td{
    border-spacing: 2px;
    border-color:#002B5B;
    border-width: 1px;
    margin:10px;
    border-style: solid;
  
    border-top: none;
    border-bottom: none;
    border-spacing: 60px;

    border-radius: 10px;

    background-color:#f9f5eb; 
    color: #002B5B;
    padding-top: 5px;
   padding-bottom: 10px;
   padding-left: 5px;
    padding-right: 5px
}
mark{
    background-color: rgba(231, 161, 10, 0.216);
    margin-left: 30px;

}



#Hyrje{



    height:350px

}
#backphoto{
  
    position: relative;
    
    background-image: url(Foto/42554.jpg);
    
}

.paragraph{
    margin-left: 30px;
    font-size: 25px;
    font-family: "Playfair Display", sans-serif;

}

.StartL{
    background-color:  #EA5455;;
    border-radius: 60px;
    margin-left: 90%;
    margin-right: 150px;
    height: 67px;
    position: relative; 
    bottom: 12px; 
 padding-top: 8px;
    transition: background-color .5s ease;
    margin-left: 700px;
}

.StartL:hover{
    background-color: #002B5B;
}
.StartL:active{
    background-color: #EA5455;
}


.choseThePhoto{

    height: 178px;
    width: 100%;
    border-width: 1px;
    border-color:black;
    position: relative; 
    border-style:solid;
    text-align: center;
    align-items: center;

    color: var(--bs-body-color);
   
    padding-top: 8px;

    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
  
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.choseTheVideo{
    margin-top: 38px;
     height: 160px;
     width: 100%;
     border-width: 1px;
     border-color:black;
     position: relative; 
     border-style:solid;
     text-align: center;
     align-items: center;
 
     color: var(--bs-body-color);
    
     padding-top: 8px;
 
     display: block;
     width: 100%;
     padding: 0.375rem 0.75rem;
     font-size: 20px;
     font-weight: 400;
     line-height: 1.5;
     color: var(--bs-body-color);
   
     appearance: none;
     background-color: var(--bs-body-bg);
     background-clip: padding-box;
     border: var(--bs-border-width) solid var(--bs-border-color);
     border-radius: var(--bs-border-radius);
     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 
 }
 
 .choseThePhoto:hover{
    border-color:#002B5B;
    border-width: 3px;
    font-size: 23px;
    transition: font-size .5s ease;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }
 .choseTheVideo:hover{
    border-color:#002B5B;
    border-width: 3px;
    font-size: 23px;
    transition: font-size .5s ease;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }

.square{
   
     border: none;
    background-color:#E4DCCF;
    color:  #002B5B;
    padding: 10px;
    border-radius: 15px;
    margin-top: 100px;
    font-family: 'Playfair Display', sans-serif;
    margin-left:200px;
    margin-right:200px;
    box-shadow: 15px 15px rgba(264, 164, 20, 0.126);
    
}
h2{
    font-family: "Playfair Display", sans-serif;
    margin-left: 30px;
    text-align: left;
    font-size: 30px;
    color:#002B5B;
}
