*{
    margin:0px;
}
body{
    background-color: #F9F5EB;
}
@font-face {
    font-family: 'Playfair Display test';
    src: url(Fonts/static/PlayfairDisplay-Regular.ttf);
}

.sec1 {
    position: relative;
    height: 85vh;
}

.titulli{
    color:#F9F5EB;
    font-size: 70px;
    position: absolute;
    top: 35vh;
    left:40vh;
   font-family: 'Playfair Display test', sans-serif;
   text-shadow: 2px 2px 4px rgb(0, 43, 91);
}
nav#navigation-bar{
    background-color: rgb(249, 245, 235);
    top: 0px;
}
.sec1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(249, 245, 235, 0.2); 
    z-index: 1; 
}
.sec2 {
    background-image: 
       linear-gradient(rgba(249, 245, 235, 0.2), rgba(249, 245, 235, 0.2)),
       url('Foto/City/City 1/BedroomCity1.jpg'),
       url('Foto/City/City 1/SallonCity.jpg');
    background-size: cover, auto, auto;
    background-position: center, left top, right top;
    background-repeat: no-repeat, no-repeat, no-repeat;
    color: #F9F5EB;
    padding: 20px;
    margin: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #002B5B;
 
}
 h2{
    color: #002B5B !important;
    font-family: 'Montserrat', sans-serif !important;
  position: relative !important;
bottom: 20% !important;
 }
 .sec2 img{
    position: relative;
    top: 10%;
    align-self: center;
 }
 .kartolina{

    width:15rem;
    margin-top: 5rem;
    text-decoration: none;
}
.card-body p,.card-body h5{
    color: #002B5B !important;
    }