*{
    margin:0px;
}
@font-face {
    font-family: 'Playfair Display';
    src: url(Fonts/static/PlayfairDisplay-Regular.ttf);
}

.sec1 {
    position: relative;
    height: 85vh;
}

h1{
    color:#F9F5EB;
    font-size: 70px;
    position: absolute;
    top: 35vh;
    left:40vh;
   font-family: 'Playfair Display', sans-serif;
   text-shadow: 2px 2px 4px #002B5B;
}
nav#navigation-bar{
    background-color: rgb(249, 245, 235);
    top: 0px;
}
.sec1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(249, 245, 235, 0.2); 
    z-index: 1; 
}